
<html>
<% include head %>
<body class"container-fluid"="" style="background-color:grey">
  <% include header %>
  <article style="padding-top:80px;background-color:grey">
    <center>
      <form action="/anadir" method="post" >
        Nombre
        <input type="text" name="username">
        <br><br><br>
        contraseña
        <input type="text" name="password">
        <br><br><br>
        <input type="submit" value="Aceptar">
        <br>
      </form>
    </article>
  </body>
  </html>
