
<html>
<% include head %>
<body>
  <% include header %>
  <center>
  <div class"container-fluid" style="background-color: #cac3c3; margin-top: 100px; width: 30%; border-radius: 3%; opacity: 0.8;padding-top: 35px;
    padding-bottom: 35px;">
    <form action="/" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <br>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <br>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form>
  </div>
</center>
</body>
</html>
